@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #155263;
}

#title{
    margin: 4%;    
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
}

.h5{
    margin: 2%;    
    color: hsl(0, 0%, 81%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#sriLankaFlag{    
    display: block;
    height: 20%;    
    width:20%;
    position: relative;    
    margin-left: auto;
    margin-right: auto;    
}

#describe{
    margin-top: 2%;    
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    color: white;
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    text-shadow: 2px 10px 10px   #00000f;
}

#button{    
    display: block;
    padding: 1%;   
    width: 8%;    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    background-color: #c66912;
    color: white;
    font-size: smaller;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 98, 0);
    -webkit-transition-duration: 0.3s;    
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow,transform;
}
#button:hover, #button:focus, #button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

#divvideo{
    margin: 5%;
}

#videoalign{        
    border-radius: 4%;   
    width: 100%;
    height: 100%;
}

.galleryofwondertopic{
    font-size: 350%;
    text-align: center;
    color: white;
    font-weight: 800%;
}

.divgallery{
    margin-top: 5%;
    display: flex;
    
}
.slbeautyimage{     
    width: 30%;
    border-radius: 5%;   
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;   
}
.slbeautyimage:hover{
    transform: scale(1.1);
}
.whychooseus{
    margin-top: 5%;
    font-size: 350%;
    text-align: center;
    color: white;
    font-weight: 1000%;
    font-family: 'Playfair Display','Sans Serif';    
}
.gateway{
    margin-top: 1%;
    margin-bottom: 2%; 
    color: hsl(0, 0%, 81%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;        
    font-size: smaller;
}

.cards{    
    background-color: #fb871a;
    box-shadow: 2px 2px 10px #00000f;

    flex: 1;
    max-width: 25%;
    
    margin-left: auto;
    margin-right: auto;
/* 
    margin-left: 3%;
    margin-right: 3%;

    align-items: center; */

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
    color: white;
    font-size: small;
    text-align: center;
    transition: 0.8s;
}
.cards:hover{
    transform: scale(1.1);
    -webkit-animation: ease-in-out;
}
.cameraicon{
    position: relative;
    align-items: center;
    width: 15%;
}
.divcards{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.unforgettablemain{
    margin-top: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.unforgettext{
    margin-top: 10%;
    padding: 5%;

}

.oneimage{       
    max-width: 40%;
    height: auto;
    display: block;   
}
.desc1{
    font-size: xx-large;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.desc2{    
    color: rgb(225, 225, 225);
    text-align: center;        
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.divbackground{       
    border: 20px solid white;
    background-color: white;   
    margin: 5%;       
    
}

.details{    
    margin-bottom: 1%;
    text-align: center;
}
.table4{
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;  
    table-layout: fixed;
    border-collapse:collapse ;  
     
}
tr,td{
    word-wrap: break-word;
    padding: 5px;
    border: 2px solid blue;
}
.tablemaintopics{
    text-align: center;    
    font-weight: bolder;
}

.mainfooter{
    /* margin-top: 5%;*/
    margin-left: 2%; 
    width: 80%;
}

.flexdiv{
    display: flex;
    
    
}

.maintopic{
    color: white;
    margin-left: 5%;
    font-size: large;
}
.address{
    margin-top: 3%;
    margin-left: 5%;  
    line-height: 150%;
    color: white;
    font-size: small;
}


.phone{
    margin-top: 3%;
    margin-left: 5%;
    line-height: 150%;
    color: white;
}

.iconsdiv{
    margin-left: 5%;    
}
.iconimages{
    margin-top: 2%;
    width: 3%;
    margin-right: 2%;
}

.facility{
    color: white;    
}

.facilities1{    
    margin-left: -100%;
    line-height: 250%;
}

.facilities2{
    margin-left: -50%;    
    line-height: 250%;
}

hr{
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid white;
}

.copyright{
    width: 80%;
}
.copyrightdecs{
    color: white;
    font-size: small;
    margin-left: 7%;
}
.copyrightimage{
    width: 2%;
}

.privacy{
    color: white;
    margin-left: -6%;
    margin-right: 2%;
    
}
.terms{
    color: white;
    margin-left: 3%;
    margin-right: 2%;
     
}